nav {
  background-color: var(--primary);
  padding: 1.25rem 2rem;
  display: flex;
  align-items: center;
}

nav h1 {
  color: var(--background);
  font-size: 2.5rem;
  font-weight: 700;
}

.navbar-brand {
  text-align: center;
}
